.vs/slnx.sqlite
.vs/Softinn Code Sample/config/applicationhost.config
.vs/Softinn Code Sample/v16/.suo
node_modules/
.vs/softinn-booking-engine-code-sample/FileContentIndex/cfd27a44-8388-4468-8dbd-ffacba9fa12f.vsidx
.vs/softinn-booking-engine-code-sample/v17/.wsuo
.vs/VSWorkspaceState.json
